<div class="user-form-container">
    <h2>Create User</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="m-2">
      <input type="text" formControlName="name" placeholder="Name" />
      <input type="email" formControlName="email" placeholder="Email" />
      <input type="password" formControlName="password" placeholder="Password" />
      <select formControlName="role">
        <option value="user">User</option>
        <option value="admin">Admin</option>
        <option value="manager">Manager</option>
      </select>
      <button type="submit" [disabled]="userForm.invalid">Create</button>
    </form>
  </div>
  